h1 {
    color: white;
    border: 3px, solid #001a20;
    background: #002730;
    padding: 30px;
    margin-top: 0;
    border-top: 2px, solid #00b7e4;
    color: white;
    text-align: left;
}
nav
{
    border: 3%, solid #003441;
    background: #003a49;
       
    padding: 0.5%; 
    font-family: monospace; 
}
nav ul
{
    text-align: left;
    font-size: 1.3em;
}
nav ul li
{
      text-decoration: underline;
    list-style-type: none;
    
    display: inline;
     padding: 5px;
    margin: 15px;
    
}
nav ul li a:hover{
    color: cyan;
}
#PageNameNavigation{
    font-size: 1.1em;
    color: #f2fcff;
    font-family: serif;
    text-decoration: none;
    font-size: 145%;
}
nav ul li a
{
    color: white;
    text-decoration: none;
}
#FirstSloganLine{
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 5px;
}
#SecondSloganLine{
    font-family: serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
#ThirdSlogan{
    color:aquamarine;
    font-size: 15px;
    margin-top: 0;
    font-family: monospace;
}
