
/*Line under the nav section*/
header{
    border-bottom: 1px solid #dddddd;
    position: relative;
}
#logoPicture{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
nav
{
    border: 30px;      
    padding: 0.5%;     
}
nav ul
{    
    text-align: center;    
    margin-top: 13%;
    margin-right: 1%;
}
nav ul li
{
    display: inline;
    list-style-type: none;
   
}
nav ul li a:hover{
    text-decoration: underline;    
}
nav ul li a
{
    font-family:sans-serif;
    color: #357EC7;    
    padding: 10px;
    font-size: 100%;
    text-decoration: none;
}
/*Background image*/
#TitleImage{
    margin-top: 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 600px; 
    
}
/*Website header*/
#TitleImage h1{
    text-align: center;
    color: white;
    font-family:sans-serif;
    font-size: 4.5em;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 130px;
    margin-top: 5%;  
    margin-bottom: 0;
}
#TitleImage h2{
    font-family: sans-serif;
    text-align: center;
    padding-left: 70px;
    color: white;
    padding-bottom: 0px;
    
}
/*Search bar*/
.Search{
    margin-left: 20em;
    margin-right: 0;
}
.Search input{
    margin-top: 5px;
    border-radius: 10em;
    outline: none;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    width: 70%;
    font-size: 1.2em;
    border-color: gainsboro;
    color: #0C090A;
}
#SearchBar{
    background-color: white;
}
#searchBtn{
     width: 14%;
    margin-left: -7.81em;
    color: white;
    background-color:#659EC7 ;
    /* #5b86e5*/
    border: 0;
    border: none;
    cursor: pointer;
    transition: background-color .1s;
}
#searchBtn:hover{
    background-color: #5b86e5;
}
.StoriesView{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 9%;
}
.StoriesView h3{
    font-family: 'Roboto Slab', serif;
    font-size: 1.0em;
    color: #357EC7;    
}
.StoryArticle{
    border: 3px solid #dddddd;
    border-radius: 1.5px;
    margin-bottom: 50px;
}

.StoryArticle img{
    float: left;
    margin-right: 55px;
    height: 15.35em;
    opacity: 90%;
    border-right: 3px solid #dddddd;
    
}
.StoryArticle h4{
    font-family: sans-serif;
    font-size: 1.3em;
    margin-right: 55px;
    margin-bottom: 0;
    color: #2554C7;
}
.StoryArticle h4 a{
    text-decoration: none;
    color: #2554C7;
}
.StoryArticle h4 a:hover{
    text-decoration: underline;
}
.StoryContent{
    font-family: 'Roboto Slab', serif;
    color: #357EC7;
    font-size: 0.8em;
    margin-bottom: 6px;
    margin-right: 55px;
    margin-left: 49%;
    text-align:justify;
    padding-bottom: 30px;
    border-bottom: 2px solid #dddddd;
}

.AuthorName{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 0.7em;
    font-style: oblique;
    color: #357EC7;
    margin-left: 75%;
    margin-bottom: 2.6%;    
}
.StoryArticle2{
    border: 3px solid #dddddd;
    border-radius: 1.5px;
    margin-bottom: 50px;
}

.StoryArticle2 img{
    float: left;
    margin-right: 55px;
    height: 15.35em;
    opacity: 90%;
    border-right: 3px solid #dddddd;
    
}

.StoryArticle2 h4{
    font-family: sans-serif;
    font-size: 1.3em;
    margin-right: 55px;
    margin-bottom: 0;
    color: #2554C7;
}
.StoryArticle2 h4 a{
    text-decoration: none;
    color: #2554C7;
}
.StoryArticle2 h4 a:hover{
    text-decoration: underline;
}
.StoryContent2{
    font-family: 'Roboto Slab', serif;
    color: #357EC7;
    font-size: 0.8em;
    margin-bottom: 6px;
    margin-right: 55px;
    margin-left: 49%;
    text-align:justify;
    padding-bottom: 35px;
    border-bottom: 2px solid #dddddd;
}
.AuthorName2{
    font-family: 'Roboto Slab', serif;
    color: #357EC7;
    font-size: 0.7em;
    font-style: oblique;
    text-align: justify;
    margin: 0;
    margin-bottom: 2.9%;
    margin-left: 75%;
}
#SubscribeForm{
     margin-left: 15%;
    margin-right: 15%;
    margin-top: 11%; 
    margin-bottom: 3%;
}
#SubscribeForm h2{
    font-family: 'Roboto Slab', serif;
    color: #357EC7;
    margin-bottom: 1.3em;
}
#EmailBar{
    border: 0;
    border-bottom: 3px solid #357EC7;
    outline: none;
    width: 100%;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #357EC7;  
    margin-bottom: 9px;
}
#EmailBar::placeholder{
    color: #357EC7;    
}
#EmailSubmitBtn{
    font-size: 1.0em;
    outline: none;
    width: 101.8%;
    margin: 0;
    background-color: #2554C7;
    border: 3px solid #2554C7;
    border-radius: 1px;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}
#EmailSubmitBtn:hover{
    box-shadow: 0 0 6px grey;
    cursor: pointer;
}
#SubscribeForm p{
    text-align: center;
    color: #357EC7;
    margin-top: 5px;
}

footer, footer input{
    background-color: #2B3856;
}
footer{
    position: relative;
}
.Contact{
    margin-left: 18%;
    margin-right: 18%;
    background-color: #2B3856;
}
.Contact h3{
    padding-top: 4%;
    text-align: center;
    font-size: 1.4em;
    color: #dddddd
}
.ContactNameAsterix{
    float: left;
    color: red;
}
.ContactNameBar{
    float: left;
    border: 0;
    border: 0;
    border-bottom: 3px solid #dddddd;
    outline: none;
    color: #dddddd;
    width: 43%;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-bottom: 9px;
    
}
.ContactEmailBar{
      border: 0;
    border: 0;
    border-bottom: 3px solid #dddddd;
    outline: none;
    color: #dddddd;
    width: 46%;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 15px;  
    margin-bottom: 9px;   
}
.ContactEmailBar::placeholder, .ContactNameBar::placeholder, .ContactMessageBar::placeholder, .ContactSubjectBar::placeholder{
    color: #dddddd;
    font-family: 'Roboto Slab', serif;
}
.ContactEmailAsterix{
    float: left;
    margin-left: 5%;
    color: red;
}
.ContactSubjectBar{
       border: 0;
    border: 0;
    border-bottom: 3px solid #dddddd;
    outline: none;
    width: 98%;
    color: #dddddd;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 15px;  
    margin-bottom: 9px;
}
.ContactMessageBar{
    border: 0;
    font-family: 'Roboto Slab', serif;
    outline: none;
    color: #dddddd;
    font-size: 0.9em;
    background-color: #2B3856;
    border-bottom: 3px solid #dddddd;
    width: 100%;    
}
.ContactSubmitBtn{
    font-size: 1.0em;
    outline: none;
    width: 100.4%;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #2554C7;
    border: 3px solid #2554C7;
    border-radius: 2px;
    color: #dddddd;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.ContactSubmitBtn:hover{
    cursor: pointer;
    background-color: #151B54;
    border-color: #151B54;
}
.QuickLinks ol{
    list-style-type: none;
    text-align: center;
    margin-bottom: 1%;
    border-top: 2px solid grey;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
}
.QuickLinks ol li{
    display: inline;    
}
.QuickLinks ol li a{
    padding: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.QuickLinks ol li a:hover{
    text-decoration:underline solid white;
    
}
.QuickLinks p{
    text-align: center;
    padding-left: 4%;
    color: #D1D0CE;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.QuickLinks #InstagramIcon{
    padding-left: 47%;    
}
.QuickLinks #FacebookIcon{
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.QuickLinks #InstagramIcon:hover, #FacebookIcon:hover, #TwitterIcon:hover{
    cursor: pointer;
}





